.chat-container {
  display: flex;
  background-color: #f8f8f8;
  height: 75vh;
  width: 500px;
  box-sizing: border-box;
  flex-direction: column;
  box-shadow: 5px 5px 15px #656565;
  border-radius: 25px;
}